/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the form container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 350px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners for the input fields */
}

button {
    background-color: #3498db; /* Change the button color */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px; /* Rounded corners for the button */
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
